/node_modules

/public/hot
/public/storage
/public/js
/public/css
/public/img
/public/images
/public/fonts
/public/mix-manifest.json
/public/mix.js

/storage/*.key
/vendor
/.idea
/.vagrant
/storage/

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

resources/assets/js/vendor/laroute/laroute.js
