/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}


.gradient-45deg-brown-brown {
  background: #6d4c41;
  background: -webkit-linear-gradient(45deg, #6d4c41 0%, #d7ccc8 100%);
  background: linear-gradient(45deg, #6d4c41 0%, #d7ccc8 100%);
}

div.social-wrap a {
  padding-right: 45px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: none;
  border: none;
  display: block;
  background-size: 35px 35px;
  background-position: right center;
  background-repeat: no-repeat;
  color: white;
  font-family:"Merriweather Sans", sans-serif;
  font-size: 14px;
  width: 100%;
}
a#facebook {
  border-color: #2d5073;
  background-color: #3b5998;
  background-image: url(http://icons.iconarchive.com/icons/danleech/simple/512/facebook-icon.png);
}
a#twitter {
  border-color: #007aa6;
  background-color: #008cbf;
  background-image: url(https://g.twimg.com/Twitter_logo_white.png);
}
a#googleplus {
  border-color: #111;
  background-color: #222;
  text-shadow: #333 -1px -1px 0;
  background-image:url(http://www.iconsdb.com/icons/preview/white/google-plus-xxl.png);
}
div.social-wrap a:active {
  background-color: #222;
}

.login-row, .facebook-row, .google-row {
  margin-bottom: 0px;
}

.custom-get-started, .modal-trigger {
  z-index: 1 !important;
}

#login-modal {
  width: 40%;
}

.custom-login-row {
  margin-bottom: 0px;
}

.input-field.login-text {
  margin-top: 0px;
  margin-bottom: 1rem;
}